---
import RootLayout from "@/layouts/root.astro";
import { Image } from "astro:assets";
import ProfileImage from "@/assets/profile.webp";
import { Separator } from "@/components/ui/separator";
---

<RootLayout title="About - Yagnik Patel">
  <main class="mb-8">
    <section class="pb-4">
      <div class="flex items-center mb-8">
        <Image
          src={ProfileImage}
          alt="Yagnik Patel"
          width={75}
          height={75}
          loading="eager"
          class="rounded-full mr-4"
        />
        <h1 class="text-2xl font-bold">Yagnik Patel</h1>
      </div>
      <div class="space-y-4 max-w-prose max-sm:text-sm">
        <p>
          Hi there! I am a second-year undergraduate studying computer science and a self-taught web developer. Being a computer engineer, I want to be really good at solving problems.
        </p>
        <p>I spend most of my time in front of my laptop&mdash;surfing the internet, reading articles, watching tutorials, and coding intriguing projects.</p>
        <p>I'm always eager to connect with fellow tech enthusiasts and create meaningful experiences together. Hackathons and tech events are exciting opportunities I look forward to&mdash;they're fantastic for meeting incredible individuals and building valuable networks.</p>
        <p>I've completed a few freelance jobs on Upwork, and I'm considering taking on more projects.</p>
      </div>
    </section>

    <Separator className="mb-8" />

    <section class="mb-4 max-w-prose max-sm:text-sm">
      <h2 class="text-lg font-bold mb-2">interests</h2>
      <ul class="list-disc pl-5 space-y-2">
        <li>computer (duh!)</li>
        <li>web tech</li>
        <li>AI/ML (low-key)</li>
        <li>design pattern</li>
        <li>UI micro interactions</li>
      </ul>
    </section>
    
    <section class="mb-4 max-w-prose max-sm:text-sm">
      <h2 class="text-lg font-bold mb-2">facts</h2>
      <ul class="list-disc pl-5 space-y-2">
        <li>I’m introvert.</li>
        <li>I love playing sports. I'm a pro hooper&mdash;or at least I was when I used to play regularly.</li>
        <li>I'm super into video games, but I've got it under control.</li>
      </ul>
    </section>
    
  </main>
</RootLayout>