@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 95%;
		--foreground: 0 0% 10%;
		--primary: 0 0% 80%;
		--primary-foreground: 0 0% 10%;
		--secondary: 0 0% 70%;
		--secondary-foreground: 0 0% 10%;
		--accent: 240 100% 50%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 84% 32%;
		--destructive-foreground: 0 0% 98%;
		--muted: 0 0% 75%;
		--muted-foreground: 0 0% 10%;
		--card: 0 0% 95%;
		--card-foreground: 0 0% 10%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--border: 0 0% 60%;
		--input: 0 0% 60%;
		--ring: 0 0% 10%;
		--chart-1: 240 100% 50%;
		--chart-2: 240 90% 60%;
		--chart-3: 240 80% 70%;
		--chart-4: 240 70% 80%;
		--chart-5: 240 60% 90%;
		--radius: 0rem;
	}

	.dark {
		--background: 220, 10%, 10%;
		--foreground: 220, 10%, 80%;
		--muted: 220, 10%, 15%;
		--muted-foreground: 220, 10%, 60%;
		--popover: 220, 10%, 12%;
		--popover-foreground: 220, 10%, 80%;
		--card: 220, 10%, 12%;
		--card-foreground: 220, 10%, 80%;
		--border: 220, 10%, 20%;
		--input: 220, 10%, 15%;
		--primary: 220, 60%, 60%;
		--primary-foreground: 220, 10%, 10%;
		--secondary: 220, 10%, 20%;
		--secondary-foreground: 220, 60%, 60%;
		--accent: 220, 60%, 60%;
		--accent-foreground: 220, 10%, 10%;
		--destructive: 0, 100%, 50%;
		--destructive-foreground: 0, 0%, 100%;
		--ring: 220, 60%, 60%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

html {
	font-size: 15px;
	font-family: "Reddit Mono", monospace;
	font-optical-sizing: auto;
	font-style: normal;
	color-scheme: light;
}

html.dark {
	color-scheme: dark;
}

button,
a,
input {
	font-family: "Reddit Mono", monospace;
}

::view-transition-group(main-content) {
	animation-timing-function: var(--expo-in);
}

::view-transition-new(main-content) {
	animation: fade-up 0.3s;
}

@keyframes fade-up {
	from {
		transform: translateY(1.5rem);
	}

	to {
		transform: translateY(0);
	}
}
